.Header {
	text-align: center;
}

.Header-header {
	color: white;
}

nav.navbar.navbar-default {
	background-color: #222629;
	border-color: #222629;
}

.navbar-header {
	color: #6B6E70;
	padding: 25px;
	font-size: 1.5em;
}

.Header-title {
	font-size: 1.5em;
}

.Header-intro {
	font-size: large;
}

.right-side-button{
	float:right;
}

.nav-body {
	float: right;
	padding: 15px;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
