.login-form {
	position: fixed;
	width: 360px;
	top: calc(50% - 50px);
	left: calc(50% - 250px);
}

fieldset {
	border-width: 0px;
}

label {
	clear: left;
    text-align: right;
    padding-right: 10px;
}

.login-label {
    width: 100px;
}

input, label {
    float: left;
}

input[type=submit] {
	margin-left: calc(50% - 10px);
}
